// GLOBAL SETTINGS
$_default_font_family: Quicksand, Avenir, Helvetica, Arial, sans-serif !default;

$_score_color: mix(#a4e1eb, #88B9D5, 80%) !default;
$_background_image_url: '../assets/img/mountain-range.jpg' !default;

@import 'mixins/flex-center';
@import 'mixins/fixed-background';
