// GLOBAL SETTINGS
$_default_font_family: Avenir, Helvetica, Arial, sans-serif !default;

$_score_color: #587c93 !default;
$_background_image_url: '../assets/img/zen-pebbles.jpg' !default;

@import 'mixins/flex-center';
@import 'mixins/fixed-background';
