// RESET
// easier than normalize in small projects
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html,
body {
  width: 100%;
  min-height: 100%;
}
body {
  font-family: $_default_font_family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
}
