/// FLEX CENTER
/// uses flexbox to center content and align it
/// (used to be sooo difficult before flexbox!)
/// @param {column | row} $direction [row]
@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}
